:root {
  --padding--desktop: 1rem;
  --padding--mobile: 15px;
  --padding--tablet: 16px;
  --white: #fff;
  --red: #d40027;
  --padding--radius-d: .1rem;
  --grey: #363636;
  --padding--radius-m: 3px;
}

.page {
  z-index: 1;
  width: 100%;
  position: relative;
}

.navigation-wrapper {
  z-index: 50;
  color: white;
  position: absolute;
  inset: 0% 0% auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.padding-equal {
  padding-right: var(--padding--desktop);
  padding-left: var(--padding--desktop);
}

.global-grid {
  z-index: 10;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  position: relative;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

#w-node-_2926aa6e-eab2-56b4-4f74-778f184377e6-184377e4 {
  grid-area: 1 / 1 / 2 / 3;
  place-self: start;
}

.nav-flex {
  z-index: 10;
  padding-top: var(--padding--desktop);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: relative;
}

.display-small.is-nav {
  color: red;
  font-size: 1.4vw;
}
.display-small {
  color: grey;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 92%;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background-color: #0000;
}
* {
  box-sizing: border-box;
}
.navigation-wrapper {
  color: white;
}
element {
    opacity: 1;
}
#w-node-_2926aa6e-eab2-56b4-4f74-778f184377e9-184377e4 {
  grid-area: 1 / 11 / 2 / 13;
  place-self: start end;
}
.nav-flex {
  z-index: 10;
  padding-top: var(--padding--desktop);
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: relative;
}
.display-small.is-nav {
  color: red;
  font-size: 1.4vw;
}
.display-small {
  color: grey;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 92%;
}
.nav-links {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  justify-content: flex-end;
  align-items: center;
}
.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}
.nav-link.is-link {
  transition: color .2s;
}
.nav-link {
  color: grey;
  text-align: right;
  letter-spacing: -.02rem;
  text-transform: uppercase;
  font-family: Gza Compressed, Georgia, sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1;
}
.nav-link.is-link {
  transition: color .2s;
}
element {
  transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  background-color: rgb(212, 0, 39);
}
#w-node-_2926aa6e-eab2-56b4-4f74-778f184377f5-184377e4, #w-node-_145320a8-dc05-60a8-1319-9227be426538-184377e4 {
  grid-area: 1 / 6 / 2 / 8;
}
.nav-cta {
  z-index: 10;
  padding-top: var(--padding--desktop);
  background-color: red;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: .8rem;
  display: flex;
  position: relative;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.display-small.is-nav.and-white {
  color: white;
}
.display-small.is-nav {
  color: red;
  font-size: 1.4vw;
}
.display-small {
  color: grey;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 92%;
}
element {
  color: rgb(255, 255, 255);
}
.nav-link.white {
  color: white;
}
.white {
  color: white;
}
.nav-link:hover{
  color: var(--white);
}

.hero-section {
  z-index: 1;
  color: white;
  width: 100%;
  min-height: 120vh;
  padding-top: 20vh;
  position: relative;
  overflow: hidden;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
element {
  will-change: transform;
  transform: translate3d(0px, -2%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  opacity: 1;
}
.hero-subject {
  z-index: 11;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 110%;
  position: absolute;
  inset: auto 0% 0%;
}
.hero-section {
  color: white;
}

.subject {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.hero-background {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 110%;
  position: absolute;
  inset: auto 0% 0%;
}

.padding-equal {
  padding-right: var(--padding--desktop);
  padding-left: var(--padding--desktop);
}
.global-grid {
  z-index: 10;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  position: relative;
}
.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
#w-node-daac193c-dcac-03da-6ae9-964b999c0411-a7374310 {
  grid-area: span 1 / span 12 / span 1 / span 12;
}
.hero-mask {
  height: 10.65vw;
  padding-top: 1vw;
  overflow: hidden;
}
.display-xl {
  color: red;
  text-align: center;
  letter-spacing: -.8vw;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 13vw;
  font-weight: 900;
  line-height: 79%;
}


#w-node-_05fbb0a0-4a87-d357-10d4-db44eb39f30e-a7374310 {
  grid-area: 2 / 3 / 3 / 11;
}
.div-block-3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.hero-subtext {
  letter-spacing: -.1vw;
  text-transform: none;
  font-family: Gza Compressed, Georgia, sans-serif;
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 5;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Plakat, Arial, sans-serif;
  font-size: 38px;
  font-weight: 900;
  line-height: 44px;
}
h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
h1 {
  margin: .67em 0;
      margin-top: 0.67em;
      margin-bottom: 0.67em;
  font-size: 2em;
}

.global-grid.is-top {
  z-index: 20;
}
.padding-equal {
  padding-right: var(--padding--desktop);
  padding-left: var(--padding--desktop);
}
.global-grid {
  z-index: 10;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}
.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

#w-node-_2ad37a49-8f8e-c56d-7dba-dfdcd5484b6f-a7374310 {
  grid-area: 1 / 6 / 2 / 8;
}
.hero-vid.edges {
  overflow: hidden;
}
.edges {
  border-radius: var(--padding--radius-d);
}
.hero-vid {
  margin-top: 50vh;
  width: 1000%;
}
.lightbox-link {
  aspect-ratio: 3 / 2;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background-color: #0000;
}
.video-text {
  z-index: 3;
  text-align: center;
  letter-spacing: -.3vw;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 3.0vw;
  font-weight: 900;
  line-height: 80%;
  position: relative;
  top: 25px;
}
.overlay {
  z-index: 2;
  background-color: #00000026;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}
.play-button {
  z-index: 10;
  aspect-ratio: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #00000026;
  border-radius: 50%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  display: flex;
  position: relative;
  top: -40px;
  left: 45px;
}
.image {
  aspect-ratio: 1;
  width: 18%;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
.video-static {
  object-fit: cover;
  width: 400px;
  max-width: none;
  height: 100px;
  position: absolute;
  inset: 0% 0% auto;
}
.w-background-video {
  color: #fff;
  height: 500px;
  /* position: relative; */
  overflow: hidden;
}
.w-background-video > video {
  object-fit: cover;
  z-index: -100;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  inset: -100%;
}
audio, canvas, progress, video {
  vertical-align: baseline;
  display: inline-block;
}
.w-background-video {
  color: #fff;
}
#w-node-d5846c19-5008-1ebd-8294-4b6e0f5af8ef-a7374310 {
  grid-area: 2 / 5 / 3 / 9;
}
.hero-base {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex;
  align-items: center;
  padding-top: 4vh;
  padding-bottom: 6vh;
  display: flex;
  width: 500px;
  height: 400px;
  position: relative;
  top: 200px;
  left: 350px;
}
.serif-sub.is-large {
  margin-bottom: 0;
  font-size: 1.0rem;
  position: relative;
  top: 16px;
}
.serif-sub {
  margin-bottom: 2.0rem;
  font-family: sans-serif;
  font-weight: 400;
  position: relative;
  top: 350px;
  left: 550px;
}

h3 {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 100;
  line-height: 10px;
  margin-top: 10px;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
.serif-sub{
  position: relative;
  top: 100px;
  left: -7px;
}

.uppercase-sub {
  letter-spacing: -.04rem;
  text-transform: uppercase;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 100%;
}
.centre-align {
  text-align: center;
  font-size: small;
}

p {
  margin-bottom: 10px;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 100%;
  margin-top: 0;
}

.hero-overlay {
  z-index: 12;
  pointer-events: none;
  background-color: #000000b3;
  position: absolute;
  inset: 0%;
}

.intro-section.padding-equal {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}
.intro-section {
  color: red;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.padding-equal {
  padding-right: var(--padding--desktop);
  padding-left: var(--padding--desktop);
}
section {
  position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
#w-node-a1d335a8-3fe7-6823-9a2b-7a648ff360a7-a7374310 {
  grid-area: span 1 / span 12 / span 1 / span 12;
}
.div-block-4 {
  width: 100%;
}
.intro-mask {
  width: 100%;
  height: 4.6vw;
  padding-top: .4vw;
  overflow: hidden;
}
.display-medium {
  letter-spacing: -.4vw;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 5.6vw;
  font-weight: 900;
  line-height: 82%;
}
.centre-align {
  text-align: center;
}
p {
  letter-spacing: -.03rem;
  margin-bottom: 0;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 105%;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.display-large.mo {
  display: none;
}
.display-large {
  letter-spacing: -.4vw;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 6.5vw;
  font-weight: 900;
  line-height: 82%;
}
h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
#w-node-a28fa7ab-fd24-bff5-583f-c02d5383d56f-a7374310 {
  grid-area: 2 / 5 / 3 / 9;
}
.gestural-img-div {
  z-index: 5;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}
.gestural-image {
  aspect-ratio: 1;
  width: 30%;
  max-width: none;
}
.edges {
  border-radius: var(--padding--radius-d);
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
#w-node-_4be68a62-b229-a8fb-4c77-8fb69b35dcf7-a7374310 {
  grid-area: 3 / 2 / 4 / 12;
}
.gestural-text {
  width: 83%;
}
.display-small {
  color: grey;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.8vw;
  font-weight: 900;
  line-height: 92%;
}
.centre-align {
  text-align: center;
}
p {
  letter-spacing: -.03rem;
  margin-bottom: 0;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 105%;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.red-t-copy {
  color: red;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background-color: #0000;
}

.reaction-section.padding-equal {
  gap: 18rem;
  padding-top: 1.5rem;
}
.reaction-section {
  z-index: 1;
  gap: 12rem;
  color: white;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  min-height: 110vh;
  display: flex;
  overflow: hidden;
}
.padding-equal {
  padding-right: var(--padding--desktop);
  padding-left: var(--padding--desktop);
}
section {
  position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.full-img {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 108%;
  position: absolute;
  inset: 0% 0% auto;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
.letter-contain {
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
.display-xxl {
  text-align: center;
  letter-spacing: -.8vw;
  font-family: Plakat, Arial, sans-serif;
  font-size: 15vw;
  font-weight: 900;
  line-height: 88%;
}
.letter-contain.is-middle {
  padding-left: 25%;
  padding-right: 25%;
}
.letter-contain {
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
.display-xxl {
  text-align: center;
  letter-spacing: -.8vw;
  font-family: Plakat, Arial, sans-serif;
  font-size: 15vw;
  font-weight: 900;
  line-height: 88%;
}
.letter-contain {
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}
.display-xxl {
  text-align: center;
  letter-spacing: -.8vw;
  font-family: Plakat, Arial, sans-serif;
  font-size: 15vw;
  font-weight: 900;
  line-height: 88%;
}
.div-block-8 {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}
.pricing-section {
  padding-top: var(--padding--desktop);
  background-color: grey;
  padding-bottom: 6rem;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.global-grid {
  z-index: 10;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  position: relative;
}
.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
#w-node-_50ce8156-04c0-7844-2b44-4c7858118927-a7374310 {
  grid-area: 1 / 4 / 2 / 10;
}
.pricing-intro-div {
  grid-column-gap: 12rem;
  grid-row-gap: 12rem;
  color: var(--white);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4rem;
  display: flex;
}
.serif-sub.is-large {
  letter-spacing: -.05rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.serif-sub {
  margin-bottom: 2.5rem;
  font-family: Gza Compressed, Georgia, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
.body-flex {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
  display: flex;
}
* {
  box-sizing: border-box;
}
.pricing-intro-div {
  color: white;
}
.div-block-9 {
  width: 100%;
}
.lights-mask {
  width: 100%;
  height: 4.65vw;
  padding-top: .4vw;
  overflow: hidden;
}

.display-medium.cw {
  color: var(--white);
  text-align: center;
}
.display-medium {
  letter-spacing: .10vw;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 5.0vw;
  font-weight: 900;
  line-height: 60%;
}
.display-medium.centre-align.is-redt, .display-medium.is-1 {
  color: red;
}

.centre-align {
  text-align: center;
}
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
.centre-align.white {
  color: white;
}
.white {
  color: white;
}
.centre-align {
  text-align: center;
}
p {
  letter-spacing: -.03rem;
  margin-bottom: 0;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 105%;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}
#w-node-_11f28584-e03b-1c8c-6dbf-01402550bf15-a7374310, #w-node-da599315-afd3-7738-6d33-7ee9f86cb383-a7374310 {
  grid-area: 2 / 2 / 3 / 7;
}
.package-container {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  width: 100%;
  display: flex;
  position: relative;
}
#w-node-_11f28584-e03b-1c8c-6dbf-01402550bf15-a7374310, #w-node-da599315-afd3-7738-6d33-7ee9f86cb383-a7374310 {
  grid-area: 2 / 2 / 3 / 7;
}
.pricing-table.is-white {
  background-color: white;
  color: grey;
  flex: 1;
  padding: 2rem;
}
.pricing-table {
  z-index: 5;
  border-radius: var(--padding--radius-d);
  position: relative;
}
.price-flex {
  z-index: 5;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}
.display-price.is-reda {
  color: red;
}
.display-price {
  text-align: left;
  letter-spacing: -.1vw;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 3.25vw;
  font-weight: 900;
  line-height: 86%;
}
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
.serif-sub.is-large.is-red {
  color: red;
}
.serif-sub.is-large {
  letter-spacing: -.05rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.serif-sub {
  margin-bottom: 2.5rem;
  font-family: Gza Compressed, Georgia, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
.package-list {
  z-index: 5;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 3rem;
  display: flex;
  position: relative;
}
.perk-row {
  grid-column-gap: .8rem;
  grid-row-gap: .8rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
* {
  box-sizing: border-box;
}
.pricing-table.is-white {
  color: grey;
}
.icon {
  aspect-ratio: 1;
  width: .8rem;
  max-width: none;
  margin-top: .2rem;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
.perk-divider {
  background-color: grey;
  opacity: .15;
  width: 100%;
  height: 1px;
}
.price.is-red {
  border-radius: var(--padding--radius-d);
  background-color: red;
  color: white;
}
.price {
  z-index: 10;
  border-radius: var(--padding--desktop);
  letter-spacing: -.08vw;
  text-transform: uppercase;
  padding: .5rem .8rem .4rem;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.5vw;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  inset: 1rem 1rem auto auto;
}
.ai-cta.is-package-genai {
  box-shadow: none;
  background-image: none;
  flex: none;
  width: 100%;
  padding: 0;
}
.ai-cta {
  border-radius: var(--padding--radius-d);
  color: white;
  letter-spacing: -.02rem;
  text-transform: uppercase;
  background-image: linear-gradient(221deg, #f000f8, #ff27b7 40%, #0df 90%);
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1px;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.4vw;
  font-weight: 900;
  line-height: 88%;
  display: flex;
  box-shadow: 0 1px 20px #0089f980;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background-color: #0000;
}
.cta-text.is-package-genai {
  background-color: red;
  background-image: none;
  flex: none;
  padding: 1.25rem 2rem;
  transition: color .3s, background-color .3s;
}
.cta-text {
  border-radius: var(--padding--radius-d);
  background-color: #000;
  background-image: linear-gradient(178deg, #000, #070e1f);
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: .6rem .8rem;
  display: flex;
}
#w-node-_87e9ad0b-c662-3bbd-e2c4-b05d84c6e22f-a7374310, #w-node-_1b0242e6-bb34-1d73-1c24-95050d04b5a6-a7374310 {
  grid-area: 2 / 7 / 3 / 12;
}

.package-container {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  width: 100%;
  display: flex;
  position: relative;
}
#w-node-_1b0242e6-bb34-1d73-1c24-95050d04b5a7-a7374310 {
  grid-area: 2 / 2 / 3 / 7;
}
.pricing-table.is-ai {
  color: var(--white);
  background-image: linear-gradient(221deg, #f000f8, #ff27b7 40%, #0df 90%);
  padding: 1px;
  box-shadow: 0 1px 20px #0089f980;
}
.pricing-table {
  z-index: 5;
  border-radius: var(--padding--radius-d);
  position: relative;
}

.price-flex.is-ai {
  background-color: #1f1f1f;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.price-flex {
  z-index: 5;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: relative;
}
.display-price {
  text-align: left;
  letter-spacing: -.1vw;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 3.25vw;
  font-weight: 900;
  line-height: 86%;
}
h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
.serif-sub.is-large {
  letter-spacing: -.05rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}
.serif-sub {
  margin-bottom: 2.5rem;
  font-family: Gza Compressed, Georgia, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
.package-list.is-ai {
  background-color: #1f1f1f;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.package-list {
  z-index: 5;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 3rem;
  display: flex;
  position: relative;
}
.package-container{
  position: relative;
  left: -50px;
}
.price.is-ai {
  border-radius: var(--padding--radius-d);
  color: white;
  background-image: linear-gradient(221deg, #f000f8, #be27ff 22%, #0df 83%);
}
.price {
  z-index: 10;
  border-radius: var(--padding--desktop);
  letter-spacing: -.08vw;
  text-transform: uppercase;
  padding: .5rem .8rem .4rem;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.5vw;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  inset: 1rem 1rem auto auto;
}
.price-flex h5{
  position: relative;
  top: -30px;
  left: -3px;
}
.ai-cta.is-package {
  background-image: linear-gradient(221deg, #f000f8, #ff27b7 40%, #0df 90%);
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  transition: box-shadow .3s;
}
.ai-cta {
  border-radius: var(--padding--radius-d);
  color: var(--white);
  letter-spacing: -.02rem;
  text-transform: uppercase;
  background-image: linear-gradient(221deg, #f000f8, #ff27b7 40%, #0df 90%);
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1px;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.4vw;
  font-weight: 900;
  line-height: 88%;
  display: flex;
  box-shadow: 0 1px 20px #0089f980;
}
.add-to-cart-2 {
  width: 100%;
  height: auto;
  margin-top: 0;
  padding-top: 0;
}
.default-state-3 {
  margin-bottom: 0;
}
.w-commerce-commerceaddtocartform {
  margin: 0 0 15px;
    margin-bottom: 5px;
}
.quantity, .add-to-cart-button {
  display: none;
}
.w-commerce-commerceaddtocartbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #3898ec;
  border-width: 0;
  border-radius: 0;
  align-items: center;
  padding: 9px 15px;
  text-decoration: none;
  display: flex;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
    line-height: inherit;
  margin: 0;
}
.cta-text.is-package {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  padding: 1.25rem 2rem;
}
.cta-text {
  border-radius: var(--padding--radius-d);
  background-color: #000;
  background-image: linear-gradient(178deg, #000, #070e1f);
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: .6rem .8rem;
  display: flex;
}
.w-commerce-commercebuynowbutton {
  color: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: #3898ec;
  border-width: 0;
  border-radius: 0;
  align-items: center;
  margin-top: 10px;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background-color: #0000;
}
.w-commerce-commerceaddtocartoutofstock {
  background-color: #ddd;
  margin-top: 10px;
  padding: 10px;
}
.w-commerce-commerceaddtocarterror {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
}
#w-node-_8ea0b867-442e-8857-a6f6-940678f9f49f-a7374310 {
  grid-area: 3 / 5 / 4 / 9;
}
.legal {
  padding-top: 3rem;
}
.centre-align.white.is-legal {
  letter-spacing: 0;
  font-size: .9rem;
  line-height: 110%;
}
.centre-align.white {
  color: white;
}
.white {
  color: white;
}
.centre-align {
  text-align: center;
}
p {
  letter-spacing: -.03rem;
  margin-bottom: 0;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 105%;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.footer-section {
  z-index: 1;
  width: 100%;
  overflow: hidden;
}
section {
  position: relative;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.global-grid.is-foot {
  padding: var(--padding--desktop);
  grid-template-rows: auto auto;
  align-content: space-between;
  min-height: 100vh;
}
.global-grid {
  z-index: 10;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  position: relative;
}
.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
#w-node-b34bcba1-dbd5-2004-e3fc-d8e63c24bbe0-3c24bbde {
  grid-area: 1 / 1 / 2 / 8;
}
.footer-cta-container {
  padding: var(--padding--desktop);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  border-radius: var(--padding--radius-d);
  background-color: var(--red);
  color: var(--white);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 65%;
  display: flex;
}
.div-block-11 {
  width: 100%;
}
.footer-mask {
  width: 100%;
  height: 6.1vw;
  padding-top: .5vw;
  overflow: hidden;
}
.display-large.is-boost.white {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 7.5vw;
}
.display-large.is-boost {
  color: red;
  font-size: 8.5vw;
}
.white {
  color: var(--white);
}
.display-large {
  letter-spacing: -.4vw;
  text-transform: uppercase;
  font-family: Plakat, Arial, sans-serif;
  font-size: 6.5vw;
  font-weight: 900;
  line-height: 82%;
}
.caption-div.is-gap.is-footer {
  width: 90%;
}
.caption-div.is-gap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.caption-div {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: .5rem;
  display: flex;
}
h6 {
  letter-spacing: -.05rem;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gza Compressed, Georgia, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 18px;
}
h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: bold;
}
p {
  letter-spacing: -.03rem;
  margin-bottom: 0;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 105%;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.form-contain {
  padding-top: var(--padding--desktop);
  border-top: 1px solid #ffffff1f;
  width: 100%;
  height: auto;
}
.form-block {
  width: 100%;
  margin-bottom: 0;
}
.w-form {
  margin: 0 0 15px;
    margin-bottom: 15px;
}
.form {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  display: flex;
}
.text-field {
  border: 1px solid white;
  border-radius: var(--padding--radius-d);
  background-color: red;
  color: white;
  letter-spacing: -.04vw;
  text-transform: uppercase;
  flex: 1;
  height: auto;
  margin-bottom: 0;
  padding: 1vw 1.5vw .7vw;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.3vw;
  font-weight: 900;
}
.w-input, .w-select {
  color: white;
  background-color: var(--red);
  border: 1px solid #ccc;
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 1.42857;
  display: block;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  margin: 0;
    margin-bottom: 0px;
}
button[disabled], html input[disabled] {
  cursor: default;
}
.top{
  position: relative;
  top: -13px;
}
.submit-button {
  margin-right: 0;
  margin-left: var(--padding--desktop);
  border: 1px solid white;
  border-radius: var(--padding--radius-d);
  letter-spacing: -.04vw;
  text-transform: uppercase;
  width: auto;
  height: 39px;
  padding: 1vw 1.5vw .7vw;
  font-family: Plakat, Arial, sans-serif;
  font-size: 1.3vw;
}
.w-button {
  line-height: inherit;
  cursor: pointer;
  background-color: white;
  color: red;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
  font-weight: 1000;
}
.w-button:hover{
  color: white;
  background-color: var(--red);
  border: 1px solid white;
}
input {
  line-height: normal;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
  margin: 0;
    margin-right: 0px;
    margin-left: 0px;
}
.w-form-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}
.w-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}
#w-node-b34bcba1-dbd5-2004-e3fc-d8e63c24bbf8-3c24bbde {
  grid-area: 2 / 1 / 3 / 8;
}
.footer-legals {
  padding-top: var(--padding--desktop);
  border-top: 1px solid #d400271f;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}
.footer-logo-div {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background-color: #0000;
}
.footer-logo {
  width: 12vw;
  max-width: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}

.footer-logo-div {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.legal-t {
  color: red;
}
p {
  letter-spacing: -.03rem;
  margin-bottom: 0;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 105%;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.sf-co {
  font-weight: 600;
  text-decoration: underline;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background-color: #0000;
}
.image-2 {
  z-index: 1;
  vertical-align: baseline;
  object-fit: contain;
  width: 36vw;
  max-width: none;
  position: absolute;
  inset: auto 0% 0% auto;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
.footer-legals.is-mo {
  display: none;
}
.footer-legals {
  padding-top: var(--padding--desktop);
  border-top: 1px solid #d400271f;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}
.footer-logo-div {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
a {
  color: inherit;
  text-decoration: none;
}
a {
  background-color: #0000;
}
.footer-logo {
  width: 12vw;
  max-width: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}
img {
  border: 0;
}
.legal-t {
  color: var(--red);
}
p {
  letter-spacing: -.03rem;
  margin-bottom: 0;
  font-family: Founders Grotesk, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 105%;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.cover {
  z-index: 99999;
  background-color: white;
  pointer-events: none;
  display: none;
  position: fixed;
  inset: 0%;
}
.caption-div.is-gap.is-footer {
  width: 90%;
}
.caption-div.is-gap {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.caption-div {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: .5rem;
  display: flex;
}